STOP SLAVE;
CHANGE MASTER TO MASTER_HOST='{{ SERVER_IP }}', MASTER_USER='slave', MASTER_PASSWORD='{{ MYSQL_USER_PASSWORD }}', MASTER_PORT=3306, MASTER_CONNECT_RETRY=10, MASTER_USE_GTID=current_pos;
START SLAVE;